.links {
  .linkList {
    list-style: none;
    position: fixed;
    left: 5%;
    top: 35%;
    &__link {
      margin: 25px 0px;
      transition: 0.5s;
      .icon {
        font-size: 20px;
      }
    }
    &__link:hover {
      transform: scale(1.35);
    }
  }
}
