.emailContainer {
  position: fixed;
  .email {
    text-decoration: none;
    writing-mode: vertical-rl;
    position: fixed;
    right: 5%;
    top: 35%;
    list-style: none;
    position: fixed;
  }

  .email:hover {
    color: #64ffda;
  }
}
