.contact {
  height: 100vh;
  width: 75%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0 auto;
  color: red;
  &__colored,
  &__getInTouch {
    margin: 15px 0;
  }

  &__colored {
    text-align: center;
    color: #64ffda;
    margin-right: 10px;
  }
  &__getInTouch {
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
  }
  &__text {
    text-align: center;
    width: 70%;
    margin: 15px auto;
    font-family: "Roboto", sans-serif;
  }
  &__btn {
    display: inline;
    text-align: center;
    margin: 15px auto;
  }
}
